@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --corDominante:#f5f5d6a9; /*Fundos, áreas de texto extensas, espaços*/
    --corSecundaria: #800020; /*Títulos importantes, botões primários, elementos gráficos do vinho, talvez bordas e rodapés.*/
    --corDestaque: #DAA520; /*Detalhes de ícones, linhas de destaque, texto de chamadas para ação (CTA) secundárias, elementos decorativos sutis que você queira que transmitam luxo ou qualidade premium.*/ 
    --fonteTitulo: "Merriweather", serif;
    --fonteCorpo: "Roboto", sans-serif;
}

body {
    background-color: var(--corDominante);
    
}

* {
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav img {
    border-radius: 50%;
    height: 100px;
}

nav > a {
    text-decoration: none;
    color: var(--corSecundaria);
    font-family: var(--fonteTitulo);
    margin-top: 20px;
    font-weight: 650;
}

nav > a:hover {
    transition: transform 1.5s ease;
    transform: scale(1.1);
    text-decoration: underline;
}


.about {
    margin: 30px; 
    padding: 20px; 
    background-color: #c5951d2d;
}

.about > h2 {
    text-align: center;
    font-family: var(--fonteCorpo);
    padding: 10px;
}

.texto {
    padding: 20px;
    font-family: var(--fonteTitulo);
    text-align: justify;
    letter-spacing: 1px;
}

.links {
    text-align: center;
}

.links > a {
    text-decoration: none;
    font-family: var(--fonteCorpo);
    padding: 10px;
    color: var(--corDestaque);
    font-weight: bolder;
}

.links > a:hover {
    text-decoration: underline;
}

